<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="debug">
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICacheService" maxBufferPoolSize="2000000"
                    maxReceivedMessageSize="2000000" />
                <binding name="WSHttpBinding_IRouteService" maxBufferPoolSize="2000000"
                    maxReceivedMessageSize="2000000" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/MyService/CacheService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICacheService"
                contract="CacheService.ICacheService" name="WSHttpBinding_ICacheService">
                <identity>
                    <userPrincipalName value="LAPTOP-INNREMHQ\Laurin" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/MyService/RouteService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRouteService"
                contract="RouteService.IRouteService" name="WSHttpBinding_IRouteService">
                <identity>
                    <userPrincipalName value="LAPTOP-INNREMHQ\Laurin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>